@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barriecito&display=swap");

// COLORS
$color-bg-primary: #fff;
$color-bg-secondary: #907ad6;
$color-bg-tertiary: #4f518c;
$color-text-primary: #000;
$color-text-secondary: #333;
$color-accent-primary: #ffc700;
$color-accent-secondary: #ff9f1c;
$color-accent-tertiary: #ffb800;
$color-btn: #f7a800;
$color-btn-hover: #333;
$color-btn-disabled: #4f4d51b7;
$color-outline: rgb(30, 143, 62);

// FONT
$font-heading: "Barriecito", sans-serif;
$font-body: "Space Grotesk", sans-serif;
$default-font-size: 1.4rem;
$default-icon-size: 1.8rem;
$font-count: 1rem;
$heading-font-size-primary: 2.4rem;
$heading-font-size-secondary: 2.3rem;
$font-size-sm: 1.25rem;
$font-size-md: 1.6rem;
$font-size-lg: 3rem;

// PADDINGS
$section-padding-sm: 1rem 2.5rem;
$button-padding: 1rem;
$search-input-padding: 0.8rem;

// DIV HEIGHTS
$header-height: 6.5rem;
$section-height: calc(100vh - (#{$header-height}));

// GAPS & MARGINS
$default-gap: 1rem;
