// COLORS
$color-bg-primary: #121212;
$color-bg-secondary: #1e1e1e;
$color-bg-tertiary: #292d26;
$color-text-primary: #ffffff;
$color-text-secondary: #b3b3b3;
$color-accent-primary: #04ff8e; // Giphy's bright green
$color-accent-secondary: #ff5b5b; // Giphy's pink/red
$color-accent-tertiary: #9933ff; // Giphy's purple
$color-btn-hover: #9933ffb7;
$color-btn-disabled: #4f4d51b7;

// FONT
$default-font-size: 1.4rem;
$default-icon-size: 1.8rem;
$heading-font-size-primary: 2.4rem;
$heading-font-size-secondary: 2.3rem;
$font-size-sm: 1.25rem;
$font-size-md: 1.6rem;
$font-size-lg: 3rem;

// PADDINGS
$section-padding-sm: 1rem 2.5rem;
$button-padding: 1rem;
$search-input-padding: 0.8rem;

// DIV HEIGHTS
$header-height: 5.4rem;
$nav-height: 4.3rem;
$section-height: calc(100vh - (#{$header-height} + #{$nav-height}));
$section-height-no-nav: calc(100vh - #{$header-height});

// GAPS & MARGINS
$default-gap: 1rem;
$pagination-gap: 1.2rem;
