@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.section-random {
  background-color: v.$color-bg-secondary;
  padding: v.$section-padding-sm;
  min-height: calc(100vh - (#{v.$header-height} + #{v.$nav-height}));
  display: flex;
  flex-direction: column;
  gap: v.$default-gap;
  @include m.respond(lg-phone) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    min-height: v.$section-height-no-nav;
  }
  &__container {
    position: relative;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.section-finder {
  background-color: v.$color-bg-secondary;
  padding: v.$section-padding-sm;
  min-height: v.$section-height;
  display: flex;
  flex-direction: column;
  gap: v.$default-gap;

  @include m.respond(lg-phone) {
    grid-column: 1/-1;
    grid-row: 3/4;
    min-height: v.$section-height-no-nav;
  }
  @include m.respond(tab-port) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: v.$default-gap;
    @include m.respond(lg-phone) {
      align-items: end;
      flex-direction: row;
    }
    @include m.respond(tab-port) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    @include m.respond(lg-phone) {
      width: 50%;
    }
    @include m.respond(tab-port) {
      width: 100%;
    }
  }

  &__input {
    padding: v.$search-input-padding;
  }
  &__input-label {
    font-size: v.$font-size-sm;
    line-height: 1.6rem;
    text-align: left;
  }

  &__container {
    position: relative;
  }
}

.section-trending {
  background-color: v.$color-bg-secondary;
  padding: v.$section-padding-sm;
  min-height: v.$section-height;
  display: flex;
  flex-direction: column;
  gap: v.$default-gap;

  @include m.respond(lg-phone) {
    grid-column: 2/3;
    grid-row: 2/3;
    min-height: v.$section-height-no-nav;
  }

  @include m.respond(tab-port) {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  &__container {
    position: relative;
  }
}
