@use "../abstracts/variables" as variables;

.landing {
  .hero {
    height: variables.$section-height;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(126, 126, 126, 0.708);
    background-image: url("../../../assets/images/image.jpg");
    background-blend-mode: lighten;
    background-size: cover;
    padding: 0 2rem;

    .heroContent {
      text-align: center;
      max-width: 800px;

      h1 {
        font-size: 4rem;
        margin-bottom: 1.5rem;
        background: linear-gradient(
          45deg,
          variables.$color-accent-secondary,
          variables.$color-accent-tertiary,
          variables.$color-accent-primary
        );

        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 1.2;
      }

      .subtitle {
        font-size: 1.5rem;
        color: white;
        margin-bottom: 2rem;
      }

      .cta {
        display: inline-block;
        padding: 1rem 2rem;
        background: variables.$color-accent-secondary;
        color: white;
        text-decoration: none;
        border-radius: 30px;
        font-weight: 500;
        transition: transform 0.2s ease;

        &:hover {
          transform: translateY(-2px);
        }
      }
    }
  }

  .features {
    // tbd
  }
}
