@use "../../abstracts/variables" as variables;

.content {
  .wishlistButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;

    background: white;
    color: variables.$color-accent-tertiary;
    font-size: variables.$default-icon-size;
    box-shadow: variables.$default-shadow;
    border: none;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }

  .price {
    font-size: 1.25rem;
    font-weight: bold;
    color: #000;
    margin: 0.5rem 0;
  }
}
