@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.img-container {
  display: grid;
  // grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-auto-rows: auto;
  gap: v.$default-gap;
  justify-content: center;

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__picture {
    display: block;
  }
}
