@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.mobile-nav {
  background-color: v.$color-bg-tertiary;
  height: v.$nav-height;
  @include m.sticky-element(v.$header-height);
  z-index: 200;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1.2rem;

  @include m.respond(lg-phone) {
    display: none;
  }
  &__item {
    text-decoration: none;
    color: v.$color-text-secondary;
    transition: color 0.3s ease;

    &--active {
      color: v.$color-accent-primary;
    }

    &:hover {
      color: v.$color-accent-secondary;
    }
  }

  &__icon {
    font-size: v.$default-icon-size;
  }
}
