@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;
@use "../base/animations" as animations;

.header {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem 2rem;
  background: variables.$color-bg-primary;
  border-bottom: 0.18rem solid #f0f0f0;
  @include mixins.respond(md-phone) {
    gap: 0;
  }
  .menuButton {
    grid-column: 1/2;
    grid-row: 1/2;
    display: block;
    justify-self: left;
    padding: 0.5rem;
    background-color: transparent;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;

    @include mixins.respond(md-phone) {
      display: none;
    }
  }

  .logo {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;

    @include mixins.respond(md-phone) {
      grid-column: 1/2;
    }

    .title {
      font-size: variables.$heading-font-size-primary;
      font-family: variables.$font-heading;
    }
    .titleLink {
      text-decoration: none;
      color: variables.$color-text-secondary;
    }
  }

  .navigation {
    display: none;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    animation: dropDown 0.2s ease forwards;

    @include mixins.respond(md-phone) {
      display: block;
      grid-column: 2/3;
      grid-row: 1/2;
    }

    &.isOpen {
      display: block;
    }

    .navigationList {
      display: flex;
      gap: 1rem;
      list-style: none;
      margin: 0;
      padding: 0;

      @include mixins.respond(md-phone) {
        gap: 2rem;
      }

      .link {
        text-decoration: none;
        color: variables.$color-text-secondary;
        font-family: variables.$font-body;
        padding-bottom: 0.2rem;
        display: inline-block;
        transition: transform 0.2s ease;
        transform: none;

        &.active {
          color: variables.$color-accent-primary;
          border-bottom: 0.13rem dotted currentColor;
        }
        &:hover {
          color: variables.$color-accent-tertiary;
          font-weight: 600;
          transform: translateY(-0.14rem) rotate(-0.3deg);
        }
      }
    }
  }

  .actions {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    justify-self: right;
    gap: variables.$default-gap;

    .wishlist,
    .cart {
      position: relative;
      cursor: pointer;
      background-color: transparent;
      border: none;
      font-size: variables.$default-icon-size;

      &:hover {
        color: variables.$color-accent-primary;
      }
      .count {
        position: absolute;
        top: -0.8rem;
        right: -0.8rem;
        background: variables.$color-accent-secondary;
        color: white;
        border-radius: 50%;
        padding: 0.2rem 0.41rem;
        font-size: variables.$font-count;
      }
    }
  }
}
