@use "../../abstracts/variables" as variables;
@use "../../abstracts/mixins" as mixins;

.card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  padding: 1rem;
  position: relative;

  &.horizontal {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
  }
  &.vertical {
    display: flex;
    flex-direction: column;
  }

  &:hover {
    transform: translateY(-4px);
  }
  .imageContainer {
    aspect-ratio: 1;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    &.imageSmall {
      width: 10rem;
      height: 10rem;
    }

    &.imageMedium {
      width: 20rem;
      height: 20rem;
    }

    &.imageLarge {
      width: 30rem;
      height: 30rem;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    a {
      text-decoration: none;
      color: #333;
      cursor: default;
    }
  }

  .title {
    margin: 0;
    font-size: variables.$font-size-card-title;
    color: #333;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 2.8rem; // +/- 2 lines of text

    cursor: pointer;
    &:hover {
      opacity: 0.85;
    }
  }

  .price {
    font-size: 1.25rem;
    font-weight: bold;
    color: #000;
    margin: 0.5rem 0;
  }
}
