@use "../../abstracts/mixins" as mixins;

.modal {
  @include mixins.center;

  min-width: 30rem;
  max-width: 90vw;
  max-height: 90vh;

  background: white;
  border: none;
  border-radius: 0.8rem;
  box-shadow: 0 0.5rem 0.24rem rgba(0, 0, 0, 0.12);

  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
  }

  .closeButton {
    position: absolute;
    top: 0;
    right: 0.3rem;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem;
    line-height: 1;

    &:hover {
      opacity: 0.7;
    }
  }
}
