@use "../../abstracts//variables" as variables;

.wishlist {
  display: grid;
  gap: variables.$sm-padding;
  padding: variables.$default-padding;

  .empty {
    text-align: center;
    font-weight: 300;
  }
  .title {
    text-align: center;
    text-transform: uppercase;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: variables.$default-gap;

    .wishlistItems {
      list-style-type: none;
    }
  }
}
