@use "../../abstracts/mixins" as mixins;
@use "../../abstracts/variables" as variables;

.cart {
  display: grid;
  gap: variables.$sm-padding;
  padding: 1.2rem;
  @include mixins.respond(md-phone) {
    padding: variables.$default-padding;
  }

  .cartStatus {
    text-align: center;
    font-weight: 300;
  }
  .title {
    text-align: center;
    text-transform: uppercase;
  }

  .cartList {
    display: flex;
    flex-direction: column;
    gap: variables.$default-gap;

    .cartItem {
      list-style-type: none;
    }
  }
}
