@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:focus-visible {
  outline: 1.3rem solid variables.$color-outline;
  outline-offset: 0.15rem;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px because 16px (default font size set by browsers) so 10px/16px= 62.5%

  @include mixins.respond(md-phone) {
    // 400px+
    font-size: 68.75%; //1 rem->11px, 11/16 = 68.75%
  }

  @include mixins.respond(lg-phone) {
    // 900px+
    font-size: 75%; //1 rem->12px, 12/16 = 75%
  }

  @include mixins.respond(tab-land) {
    // 1200px+
    font-size: 81.25%; //1rem = 13, 13/16=81.25%
  }

  @include mixins.respond(big-desktop) {
    // 1800px+
    font-size: 87.5%; //1rem = 14, 14/16=87.5%
  }
}

body {
  box-sizing: border-box;
  font-size: variables.$default-font-size;
}
