@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include m.respond(lg-phone) {
    // 600px+
    font-size: 68.75%; //1 rem->11px, 11/16 = 68.75%
  }

  @include m.respond(tab-port) {
    // 900px+
    font-size: 75%; //1 rem->12px, 12/16 = 75%
  }

  @include m.respond(tab-land) {
    // 1200px+
    font-size: 81.25%; //1rem = 13, 13/16=81.25%
  }

  @include m.respond(big-desktop) {
    // 1800px+
    font-size: 87.5%; //1rem = 14, 14/16=87.5%
  }
}

body {
  box-sizing: border-box;
  font-size: v.$default-font-size;
}
